<!DOCTYPE html>
<html>
  <head>
    <title>BookNeighbor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <nav>
      <menu>
        <li style="margin: auto"><%= link_to "Home", books_path %></li>
        <li style="margin: auto"><%= link_to "Random", random_books_path %></li>
        <li>
          <%= form_tag books_path, method: :get, style: 'padding: 0' do %>
            <%= text_field_tag :q, params[:q] %>
            <%= submit_tag "Search", style: 'display: none' %>
          <% end %>
        </li>
      </menu>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
